<section class="section-gray section-eight">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h2 class="h2">
                    Оставьте заявку <span class="text-nowrap">на консультацию</span> 
                </h2>
                <form class="row align-items-end" id="#Form2">
                    <div class="col-12 col-md-4 pr-md-3">
                        <p class="text-input">Сфера бизнеса</p>
                        <input name="f[name]" class="input" type="text" placeholder="Сфера бизнеса">
                    </div>

                    <div class="col-12 col-md-3 px-md-3 mt-d75 mt-md-0">
                        <p class="text-input">Телефон*</p>
                        <input name="f[phone]" class="input tel-input" type="tel" placeholder="+7 (___) ___-__-__" data-validate>
                    </div>

                    <div class="col-12 col-md-4 pl-md-3 mt-1d25 mt-md-0">
                        <input type="submit" value="Получить консультацию" class="btn btn-disabled cform-submit">
                        <a class="btn new-button">Получить консультацию</a>
                    </div>
                </form>  
                <p class="small text-gray mt-3">Нажимая на кнопку, Вы даёте согласие на <a href="https://leadboat.ru/policy.html" target="_blank">обработку персональных данных</a></p>                    
            </div>
            <div class="col-12 col-md-4">
                <img class="img eight__img" alt="monitor" data-src="                        
                    <960:/{{assets}}assets/img//monitor-mob.svg,                        
                    >959:/{{assets}}assets/img//monitor.svg" />
            </div>
        </div>
    </div>
</section>