<section class="first section-gray">
    <div class="container">

        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb {{breadcrumb_lvl-1}}">
                <li class="breadcrumb-item"><a href="https://leadboat.ru/">Главная</a></li>
                <li class="breadcrumb-item {{breadcrumb_lvl-2}}"><a href="{{breadcrumb_lvl-2_href}}">{{breadcrumb_lvl-2_name}}</a></li>
                <li class="breadcrumb-item {{breadcrumb_lvl-3}}"><a href="{{breadcrumb_lvl-3_href}}">{{breadcrumb_lvl-3_name}}</a></li>
                <li class="breadcrumb-item {{breadcrumb_lvl-4}}"><a href="{{breadcrumb_lvl-4_href}}">{{breadcrumb_lvl-4_name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{breadcrumb_active_name}}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-12 col-md-7">
                <h1 class="h1">
                    {{first_title}}
                    <span class="text-nowrap">под ключ по цене</span> 
                    <span class="text-primary text-nowrap">{{first_price}}</span> 
                    <strike>{{first_old}}</strike>
                    <span class="d-block">{{first_days}}</span>
                </h1>
                <ul>
                    <li class="li-alt">{{first_li-1}}</li>
                    <li class="li-alt">{{first_li-2}}</li>
                    <li class="li-alt">{{first_li-3}}</li>
                </ul>
                <a href="https://leadboat.ru/zakazat-sajt.html" class="btn mt-1d25 mt-md-1d6 mb-4 mb-md-0">Заказать сайт</a>
            </div>
            <div class="col-12 col-md-5 ml-auto">    
                <img class="img first__img" alt="sozdanie-i-prodvizhenie-sajtov-leadboat" data-src="                        
                    <960:/{{assets}}assets/img/sozdanie-sajtov-mob.svg,                        
                    >959:/{{assets}}assets/img/sozdanie-sajtov.svg" />          
            </div>
            
        </div>
        
    </div>
</section>