<section class="section-white pt-0">
    <div class="container">
        <h2 class="h2">
            Кто входит в <span class="text-primary">нашу команду?</span>
        </h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">Project менеджер</p>
                <p class="small mb-1d25 mb-md-2d0">Погружается в Ваш бизнес, изучает конкурентов и целевую 
                    аудиторию. Разрабатывает прототип сайта и стратегии 
                    продвижения. Ваш личный консультант 24/7</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">UX/UI дизайнер</p>
                <p class="small mb-1d25 mb-md-2d0">Из прототипа создает макет сайта и Ваш уникальный стиль. 
                    Что бы было удобно и красиво, а главное «кликабельно»</p>
            </div>
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">Frontend разработчик</p>
                <p class="small mb-1d25 mb-md-2d0">Из макета собирает адаптивную «pixel perfect» сборку сайта. 
                    Добавляет анимацию. Оптимизирует скорость загрузки сайта через GooglePageSpeed Insights 
                </p>
            </div>
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">Backend разработчик</p>
                <p class="small mb-1d25 mb-md-0">Пишет калькуляторы, формы заказа, JavaScript скрипты. 
                    Проектирует MySQL базы данных. Ставит сайт на CMS. 
                    Подключает SSL сертификат-безопасности. Тестирует систему
                </p>
            </div>
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">SEO оптимизатор</p>
                <p class="small mb-1d25 mb-md-0">Кластеризует запросы, проектирует иерархию страниц и их 
                    отображение в поисковой выдаче. Пишет сео-тексты. Добавляет 
                    микроразметку. Регистрирует сайт в инструментах разработчика 
                    Яндекс.Вебмастер и Google.SeachConsole </p>
            </div>
            <div class="col-12 col-md-4">
                <p class="subtitle my-2 mt-md-d8 mb-md-d3">Специалист по контекстной рекламе</p>
                <p class="small mb-0">Собирает и чистит семантическое ядро, подготавливает 
                    рекламные компании, создает варианты контента объявлений. 
                    Следит за бюджетом, работает со стратегиями управления ставкой. 
                    Анализирует и оптимизирует</p>
            </div>
        </div>   
    </div>
</section>
