<section class="section-white py-2d5 py-md-5">
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="mr-md-auto mb-1d25 mb-md-0">
                <a href="https://leadboat.ru/tarify-i-uslugi/sozdanie-sajtov.html" class="text-black text-footer d-inline-block mr-4 mr-md-1d6 mb-1d25 mb-md-0">Создание сайтов</a>
                <a href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov.html" class="text-black text-footer d-inline-block mr-0 mr-md-1d6 mb-1d25 mb-md-0">Продвижение</a>
                <a href="https://leadboat.ru/portfolio.html" class="text-black text-footer d-inline-block mr-4 mr-md-1d6 mb-1d25 mb-md-0">Портфолио</a>
                <a href="https://leadboat.ru/kontakty.html" class="text-black text-footer d-inline-block mb-0">Контакты</a>
            </div>
            
            <div class="ml-md-auto mt-1d25 mt-md-0">
                <a href="tel:+79012106808" class="href-tel zphone">+7 901 210 68 08</a>
                <!-- <a href="#callbackwidget" class="text-footer d-block d-md-inline-block ml-md-d6 my-3 my-md-0">Заказать звонок</a> -->
                <a href="https://leadboat.ru/zakazat-sajt.html" class="text-footer d-block d-md-inline-block ml-md-d6 my-3 my-md-0">Заказать звонок</a>
                <a href="mailto:dvsharko@gmail.com" class="text-black text-footer d-block d-md-inline-block ml-md-1d6 mb-3 mb-md-0">info@leadboat.ru</a>
                <a href="https://yandex.ru/maps/54/yekaterinburg/house/ulitsa_malysheva_12b/YkkYcw9oSEAOQFtsfXRyc3hgYw==/?ll=60.594752%2C56.829597&utm_source=main_stripe_big&z=14.93"
                target="_blank" rel="nofollow" class="text-footer text-black d-block d-md-inline-block ml-md-1d6 mb-3 mb-md-0">
                    Екатеринбург, Малышева 12б офис 307
                </a>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-md-center mt-md-2d4">
            <div class="ml-md-auto order-md-last d-flex flex-column flex-md-row align-items-md-center">
                <a href="https://leadboat.ru/bitrix24.pdf" target="_blank" class="d-block d-lg-inline-block mr-1d6 mr-md-1d2 mb-4 mb-lg-0">
                    <img src="{{assets}}assets/img/bitrix24.png">
                </a>
                <!-- <a href="" class="text-footer d-block d-md-inline-block mr-md-2d0 mb-2d5 mb-md-0">Скачать презентацию</a> -->
                <div class="text-md-nowrap">
                    <a href="https://api.whatsapp.com/send?phone=79012106808&text=Здравствуйте," target="_blank" class="mr-1d6 mr-md-1d2" rel="nofollow">
                        <img src="{{assets}}assets/img/whatsapp.svg">
                    </a>
                    <a href="https://t.me/leadboat" class="mr-1d6 mr-md-1d2" target="_blank" rel="nofollow">
                        <img src="{{assets}}assets/img/telegram.svg">
                    </a>
                    <a href="https://www.instagram.com/leadboat.ru/" class="mr-1d6 mr-md-1d2" rel="nofollow">
                        <img src="{{assets}}assets/img/instagram.svg">
                    </a>
                    <a href="" class="mr-1d6 mr-md-1d2" rel="nofollow">
                        <img src="{{assets}}assets/img/behance.svg">
                    </a>
                    <a href="" rel="nofollow">
                        <img src="{{assets}}assets/img/dribble.svg">
                    </a>           
                </div>
            </div>
            <div class="mr-md-auto mt-2d5 mt-md-0">
                <p class="text-footer text-gray d-inline-block mr-md-1d6 mb-1d25 mb-md-0">2020 «Leadboat» — создание продающих сайтов и их эффективное продвижение</p>
                <a class="text-footer text-gray text-md-nowrap" href="https://leadboat.ru/policy.html" target="_blank">Политика обработки персональных данных</a>
            </div>
            
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
<script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=661b0cbcbae055509ecb493eaba5334d" charset="UTF-8" async></script>
<script type="text/javascript" src="{{assets}}assets/js/app.min.js"></script>