<meta charset="UTF-8">
<link rel="shortcut icon" href="/{{assets}}assets/img/favicon.ico" type="image/ico">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,600,600italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{assets}}assets/css/style.min.css">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">

<meta name="yandex-verification" content="991735b9ebb7839e" />

<script>
    (function(w, c){(w[c]=w[c]||[]).push(
        function(){
            new zTracker({"id":"c723557e805969c51e56978576fe85dd7491","metrics":{"metrika":"82360096"}});
        });}
    )(window, "zTrackerCallbacks");
</script>
<script async id="zd_ct_phone_script" src="https://my.zadarma.com/js/ct_phone.min.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
        ym(82360096, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/82360096" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<title>{{{ title }}}</title>
