<nav class="navbar navbar-expand-md navbar-light bg-{{navbar_bg}} fixed-top">
    <div class="container">
        <a href="https://leadboat.ru/"> 
            <img class="img img_logo" src="{{assets}}assets/img/logo.svg" alt="leadboat">
        </a>             
              
        <a class="navbar-toggler mx-auto collapsed" data-toggle="collapse" data-target="#Navbar">                     
          <img class="close" src="{{assets}}assets/img/close.svg" alt="close">         
          <img class="toggler" src="{{assets}}assets/img/toggler.svg" alt="menu">                 
        </a>
        <a class="href-tel d-md-none zphone" href="tel:+79012106808">+7 901 210 68 08</a>  

        <div class="collapse navbar-collapse mt-3 mt-md-0" id="Navbar">

            <span class="verysmall text-gray ml-md-3 mr-md-3">Создание продающих сайтов <br> <span class="verysmall text-nowrap">и их эффективное продвижение</span> </span>        
            
            <div class="navbar-nav mr-auto mt-1d6 mt-md-0">            
                <div class="dropdown">
                    <a class="dropdown-item mb-0" href="https://leadboat.ru/tarify-i-uslugi/sozdanie-sajtov.html">
                      Создание сайтов
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/sozdanie-sajtov/sozdanie-landing-page.html">Landing Page</a>
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/sozdanie-sajtov/razrabotka-sajta-kompanii.html">Корпоративный сайт</a>
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/sozdanie-sajtov/sozdanie-internet-magazina.html">Интернет магазин</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropdown-item mb-0" href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov.html">
                      Продвижение сайтов
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov/nastrojka-kontekstnoj-reklamy.html">Контекстная реклама</a>
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov/nastrojka-yandeks-direkt.html">Настройка Яндекс.Директ</a>
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov/nastrojka-google-ads.html">Настройка Google.Ads</a>
                      <a class="dropdown-item" href="https://leadboat.ru/tarify-i-uslugi/prodvizhenie-sajtov/poiskovoe-prodvizhenie-sajta-seo.html">SEO продвижение</a>
                    </div>
                </div>
                <a class="nav-item nav-link" href="https://leadboat.ru/portfolio.html">Портфолио</a>
                <a class="nav-item nav-link" href="https://leadboat.ru/kontakty.html">Контакты</a>
                <script data-b24-form="click/4/psvc0u" data-skip-moving="true">
                    (function(w,d,u){
                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })(window,document,'https://cdn-ru.bitrix24.ru/b18110300/crm/form/loader_4.js');
                </script>
                <a class="nav-item nav-link text-primary text-bold">Внедрение Битрикс24</a> 
            </div>

            <div class="ml-auto">                
                <a class="nav-item nav-link href-tel d-none d-md-block p-0 zphone" href="tel:+79012106808">+7 901 210 68 08</a>  
                <!-- <a class="nav-item nav-link text-primary d-none d-md-block mr-4" href="#callbackwidget">Заказать звонок</a>             -->
                <a class="nav-item nav-link text-primary d-none d-md-block p-md-0 mr-4" href="https://leadboat.ru/zakazat-sajt.html">Заказать звонок</a> 
            </div>

        </div>        
    </div> 
</nav>