<section class="section-white">
    <div class="container">

        <h2 class="h2 h2--alt">
            {{second_title}} <span class="text-primary">{{second_title-primary}}</span>           
        </h2>
        <p class="text-regular mb-1d25 mb-md-5">{{second_subtitle}}</p>

        <div class="row row-card">
            <div class="col-12 col-md-4">
                <div class="card card-gray mb-md-0">
                    <img class="img d-none d-md-block" src="{{assets}}assets/img/result{{second_card-1_img}}.png" alt="result">
                    <p class="subtitle mt-md-d6"> {{second_card-1_title}} </p>
                    <p class="small mb-0"> {{second_card-1_text}} </p> 
                </div>
            </div>
            <div class="col-12 col-md-4 pr-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-gray">
                            <img class="img d-none d-md-block" src="{{assets}}assets/img/start{{second_card-2_img}}.png" alt="start">
                            <p class="subtitle mt-md-d6">
                                {{second_card-2_title1}}
                                <span class="text-nowrap"> {{second_card-2_title2}} </span>
                            </p>
                            <p class="small mb-0 mb-md-d6"> {{second_card-2_text}} </p> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card-gray mb-md-0">
                            <img class="img d-none d-md-block" src="{{assets}}assets/img/price.png" alt="price">
                            <p class="subtitle mt-md-d6"> {{second_card-3_title}} </p>
                            <p class="small mb-0"> {{second_card-3_text}} </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pl-md-0">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-gray">
                            <img class="img d-none d-md-block" src="{{assets}}assets/img/all-in-one{{second_card-4_img}}.png" alt="all-in-one">
                            <p class="subtitle mt-md-d6"> {{second_card-4_title}} </p>
                            <p class="small mb-0"> {{second_card-4_text}} </p> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card-gray mb-md-0">
                            <img class="img d-none d-md-block" src="{{assets}}assets/img/guarantee.png" alt="guarantee">
                            <p class="subtitle mt-md-d6"> {{second_card-5_title}} </p>
                            <p class="small mb-0"> {{second_card-5_text}} </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
    
<section class="section-white pt-0" id="portfolio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8">
                <h2 class="h2 h2--alt mb-md-5" >
                    Создание и продвижение сайтов наших клиентов — <span class="text-primary">каковы успехи?</span>
                </h2>
            </div>
            <div class="col-12 col-md-4 text-md-right mb-1d2 mb-md-5">
                <a href="https://leadboat.ru/portfolio.html" target="_blank" class="">Смотреть все проекты</a>
            </div>
        </div>
        <div class="row row-card">
            <div class="col-12 col-md-6 mb-1d25 mb-md-0">
                <a href="https://neonleaf.leadboat.ru/" target="_blank" rel="nofollow">
                    <img class="img" src="{{assets}}assets/img/project-neon.jpg" alt="neonleaf">
                    <p class="subtitle text-black mb-1 mt-3 mb-md-d3 mt-md-d8">Производство — Neon Leaf</p>
                </a>
                <span class="small text-gray d-inline-block">#Создание сайтов</span>
            </div>
            <div class="col-12 col-md-6 mb-1d25 mb-md-5">
                <a href="https://www.gost-d.ru/" target="_blank" rel="nofollow">
                    <img class="img" src="{{assets}}assets/img/project-gostd.jpg" alt="gost-d">
                    <p class="subtitle text-black mb-1 mt-3 mb-md-d3 mt-md-d8">Гостиный двор — отель в Верхней Пышме</p>
                </a>
                <span class="small text-gray d-inline-block">#Создание сайтов</span>
                <span class="small text-gray ml-3">#Продвижение</span>
            </div>            
        </div>
        <div class="row row-card">
            <div class="col-12 col-md-6 mb-1d25 mb-md-0">
                <a href="https://sol-ber.ru/" target="_blank" rel="nofollow">
                    <img class="img" src="{{assets}}assets/img/project-solber.jpg" alt="sol-ber">
                    <p class="subtitle text-black mb-1 mt-3 mb-md-d3 mt-md-d8">Загородный отель — Солнечный Берег</p>
                </a>
                <span class="small text-gray d-inline-block">#Создание сайтов</span>
                <span class="small text-gray ml-3">#Продвижение</spana>
            </div>
            <div class="col-12 col-md-6">
                <a href="https://www.auto-retail.ru/" target="_blank" rel="nofollow">
                    <img class="img" src="{{assets}}assets/img/project-autoretail.jpg" alt="auto-retail">
                    <p class="subtitle text-black mb-1 mt-3 mb-md-d3 mt-md-d8">Срочный выкуп автомобилей — auto-retail.ru</p> 
                </a>                               
                <span class="small text-gray d-inline-block">#Создание сайтов</span>
                <span class="small text-gray ml-3">#Продвижение</span>
            </div>
        </div>
    </div>
</section>       
        
