<section class="section-white {{seven_padding-top}}">
    <div class="container">
        <h2 class="h2">
            <span class="text-primary">Отзывы </span>о сотрудничестве
        </h2>
        
        <div class="table-responsive-md pb-1 fb-cards">
            <div class="row flex-nowrap flex-md-wrap">
                <div class="col-10 col-sm-9 col-md-12 pl-4 pr-4">
                    <div class="card card-border d-md-flex flex-row align-items-center">           
                        <img class="img-feedback mr-md-4 mb-3 mb-md-0" src="{{assets}}assets/img/loska-logo.png" alt="loska-voska">
                        <div>
                            <div class="d-flex flex-column flex-md-row mb-3 mb-md-3">
                                <p class="subtitle mr-3 mb-1 mb-md-0">Автостудия «‎Лоска и Воска»</p>
                                <a href="https://loska-voska.ru/" target="_blank" rel="nofollow">loska-voska.ru</a>
                            </div>
                            <p class="mb-0">
                                Раньше я скептически относился к продвижению в интернете. 
                                Решил попробовать заказать сайт - знакомые посоветовали компанию Leadboat. 
                                К запуску нового бизнеса мы разработали сайт и настроили контекстную рекламу в Яндекс и Гугл. 
                                В первый месяц окупить затраты не получилось, но уже к концу второго я смог выйти на стабильный плюс.
                                На данный момент работаем вместе уже больше 1.5 лет. 
                                Все это время ребята из Leadboat обеспечивают нас клиентами, как летом, так и в межсезонье за что им 
                                большое спасибо! Рассчитываем на долговременное сотрудничество.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-9 col-md-12 pl-0 pl-md-4 pr-4">
                    <div class="card card-border d-md-flex flex-row align-items-center">           
                        <img class="img-feedback mr-md-4 mb-3 mb-md-0" src="{{assets}}assets/img/solber-logo.png" alt="sol-ber">
                        <div>
                            <div class="d-flex flex-column flex-md-row mb-3 mb-md-3">
                                <p class="subtitle mr-3 mb-1 mb-md-0">Загородный отель «Солнечный Берег»</p>
                                <a href="https://sol-ber.ru/" target="_blank" rel="nofollow">sol-ber.ru</a>
                            </div>
                            <p class="mb-0">
                                Опыт сотрудничества с компанией Leadboat уже не первый год доказал, что грамотно настроенная рекламная кампания — 
                                залог эффективности и привлечения свежей аудитории, до которой, кроме как контекстом, никак не дотянуться. К примеру, 
                                в этом году количество посетителей на нашем сайте увеличилось втрое. Безусловно, в этом есть заслуга Leadboat, 
                                которые работали с нами на протяжении последнего года, давали профессиональные советы и рекомендации. Уверены, 
                                в последующие годы наше сотрудничество будет только укрепляться!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-9 col-md-12 pl-0 pl-md-4 pr-4">
                    <div class="card card-border d-md-flex flex-row align-items-center">           
                        <img class="img-feedback mr-md-4 mb-3 mb-md-0" src="{{assets}}assets/img/tdubh-logo.png" alt="tdubh">
                        <div>
                            <div class="d-flex flex-column flex-md-row mb-3 mb-md-3">
                                <p class="subtitle mr-3 mb-1 mb-md-0">Торговый Дом «‎Уралбизнесхолдинг»</p>
                                <a href="https://tdubh.ru/" target="_blank" rel="nofollow">tdubh.ru</a>
                            </div>
                            <p class="mb-0">
                                Работаем уже более 20 лет, только недавно решили попробовать создать сайт и вложиться в раскрутку в интернете.
                                Обратились по рекомендации к ребятам из Leadboat. Парни превзошли все ожидания. Сделали очень быстрый сайт, 
                                который работает даже без интернета! За три месяца работы смогли начать получать заявки с сайта на постоянной 
                                основе. Приятным сюрпризом стало, что нас начали находить клиенты из Казахстана. Будем работать с этой командой 
                                и масштабировать наш бизнес и дальше!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-sm-9 col-md-12 pl-0 pl-md-4 pr-4">
                    <div class="card card-border d-md-flex flex-row align-items-center">           
                        <img class="img-feedback mr-md-4 mb-3 mb-md-0" src="{{assets}}assets/img/sdl-logo.png" alt="sdl-potolki">
                        <div>
                            <div class="d-flex flex-column flex-md-row mb-3 mb-md-3">
                                <p class="subtitle mr-3 mb-1 mb-md-0">Фабрика натяжных потолков «‎SDL»</p>
                                <a href="https://sdl-potolki.ru/" target="_blank" rel="nofollow">sdl-potolki.ru</a>
                            </div>
                            <p class="mb-0">
                                Услуга по монтажу натяжных потолкав всегда была для нашей фабрики дополнительной подработкой. 
                                После запуска сайта и продвижения, уже через год, монтаж стал приносить нам не меньше прибыли, 
                                чем само производство. Компания Leadboat смогла раскрутить нашу услугу за минимальный бюджет и сроки. 
                                Сложно поверить, что это всего лишь одна страничка и грамотно настроенная реклама. Спасибо!

                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        

        
        <h2 class="h2">
            <span class="text-primary">Сертификация </span>и технологические компетенции
        </h2>
        <div class="row mx-n2 mx-md-n3">
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/html.png" alt="html5">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/css.png" alt="css3">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/js.png" alt="javascript5">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/bootstrap.png" alt="bootstrap4">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/yandex.png" alt="yandex-metrika">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/google.png" alt="google-analytics">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-4">
                    <img class="img" src="{{assets}}assets/img/wordpress.png" alt="wordpress">
                </div>
            </div>        
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-0">
                    <img class="img" src="{{assets}}assets/img/tilda.png" alt="tilda">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-0">
                    <img class="img" src="{{assets}}assets/img/python.png" alt="python">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-0">
                    <img class="img" src="{{assets}}assets/img/django.png" alt="django">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-0">
                    <img class="img" src="{{assets}}assets/img/react.png" alt="react">
                </div>
            </div>
            <div class="col-6 col-md-2 px-2 px-md-d75">
                <div class="card card-border p-0 mb-1d25 mb-md-0">
                    <img class="img" src="{{assets}}assets/img/opencart.png" alt="opencart">
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section-white pt-0">
    <div class="container">
        <h2 class="h2">
            Остались <span class="text-primary">вопросы?</span>
        </h2>
        <div class="row">
            <div class="col-12 col-md-6 pr-md-d75">
                <p class="subtitle"> Почему вы настаиваете, что контекстную рекламу в Яндекс.Директ и Google.Ads 
                    лучше настраивать только одновременно? 
                </p>
                <p class="small mb-1d25 mb-md-2d0"> Мы не хотим размениваться на мелочи. Практика показывает, что в одной нише лучше себя 
                    показывает Яндекс.Директ, а в другом регионе Google.Ads. По одной рекламной компании лучше 
                    себя показывает Гугл, а по другой Яндекс. Проверить и найти лучшие комбинации по минимальной 
                    цене, можно только попробовав. А для нас, настраивать две системы одновременно, проще, чем 
                    сегодня настроить только Яндекс.Директ, а через месяц Google.Ads. Поэтому даем хорошую скидку,
                    при настройке систем одновременно. Так продвижение сайта будет лучше, дешевле и эффективнее.
                 </p>
            </div>
            <div class="col-12 col-md-6 pl-md-d75">
                <p class="subtitle"> Почему другие компании не могут дать конкретные цены на создание сайтов и продвижение?  </p>
                <p class="small mb-1d25 mb-md-0"> У нас фиксированная цена на создание и продвижение сайтов просто потому, что так удобнее, 
                    как заказчику, так и нам. Мы знаем, что, нужно сделать для получения заявок. Мы работаем 
                    на результат. Никаких дополнительных платежей, скрытых комиссий и прочего. Честная цена, 
                    за конкретный результат - продажи!
                </p>                
            </div>
            <div class="col-12 col-md-6 pr-md-d75">
                <p class="subtitle"> Почему техническая SEO-оптимизация включена в стоимость каждого сайта? </p>
                <p class="small mb-1d25 mb-md-0"> Мы не хотим делать сайты, которые никто не сможет найти. 
                    Знаем, что это необходимо и проводим базовые работы по SEO оптимизации с каждым проектом.
                </p>                
            </div>
            <div class="col-12 col-md-6 pl-md-d75">
                <p class="subtitle"> Можно ознакомиться с договором? </p>
                <p class="small mb-0">Обычно мы прорабатываем договор, с каждым клиентом, отдельно. Но вы можете 
                    <a href="https://leadboat.ru/dogovor_leadboat_site.docx">скачать образец договора</a> 
                    и ознакомиться с ним в любое время.
                </p>
            </div>
        </div>

    </div>
</section>