<section class="section-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h2 class="h2">
                    Как мы поможем Вам занять свою <span class="text-primary text-nowrap">нишу в Интернете</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img d-md-none three__img" src="{{assets}}assets/img/monitor-leadboat.svg" alt="monitor-leadboat">
                <img class="img d-md-none three__img2" src="{{assets}}assets/img/rocket-leadboat.svg" alt="rocket-leadboat">
                <div class="card">
                    <p class="subtitle">
                        <span class="text-primary">1 - </span> {{three_title-1}}
                    </p>
                    <p class="mb-0 small"> {{three_text-1}} </p>
                </div>
                <div class="card">
                    <p class="subtitle">
                        <span class="text-primary">2 - </span> {{three_title-2}}
                    </p>
                    <p class="mb-0 small"> {{three_text-2}} </p>
                </div>
                <div class="card">
                    <p class="subtitle">
                        <span class="text-primary">3 - </span> {{three_title-3}}
                    </p>
                    <p class="mb-0 small"> {{three_text-3}} </p>
                </div>
                <div class="card">
                    <p class="subtitle">
                        <span class="text-primary">4 - </span> {{three_title-4}}
                    </p>
                    <p class="mb-0 small"> {{three_text-4}} </p>
                </div>
                <div class="card mb-0">
                    <p class="subtitle">
                        <span class="text-primary">5 - </span> {{three_title-5}}
                    </p>
                    <p class="mb-0 small"> {{three_text-5}} </p>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img class="img ml-auto" src="{{assets}}assets/img/work-sequence.svg" alt="work-sequence">
            </div>
        </div>
        <p class="subtitle mb-3 mt-1d25 mt-md-5">Готовы начать свой проект?</p>
        <a class="btn" href="https://leadboat.ru/zakazat-sajt.html">Заказать {{three_btn}}</a>



        <div class="row padding-section">
            <div class="col-12 col-md-8">
                <h2 class="h2 h2--alt">
                    {{three-alt_title}}
                </h2>
                <p class="text-regualr mb-1d25 mb-md-1d6 ">Ознакомьтесь с <a href="{{three-alt_href}}"> {{three-alt_link}} </a>, либо оставьте заявку 
                    <span class="text-nowrap">на бесплатный аудит и консультацию</span>
                </p>

                <form action="" class="row align-items-end form" id="#Form">
                    <div class="col-12 col-md-4 pr-md-d75">
                        <p class="text-input">{{three-alt_input-1}}</p>
                        <input name="f[name]" class="input" type="text" placeholder="{{three-alt_input-1}}">
                    </div>

                    <div class="col-12 col-md-3 px-md-d75 mt-d75 mt-md-0">
                        <p class="text-input">Телефон*</p>
                        <input name="f[phone]" class="input tel-input" type="tel" placeholder="+7 (___) ___-__-__" data-validate>
                    </div>

                    <div class="col-12 col-md-4 pl-md-d75 mt-1d25 mt-md-0">
                       <input type="submit" value="Получить консультацию" class="btn btn-disabled cform-submit position-relative">
                       <a class="btn new-button">Получить консультацию</a>
                    </div>
                </form>
                <p class="small text-gray mt-1d25">Нажимая на кнопку, Вы даёте согласие на <a href="https://leadboat.ru/policy.html" target="_blank">обработку персональных данных</a></p>
            </div>
            <div class="col-12 col-md-4">
                <img class="img" alt="monitor" data-src="                        
                    <960:/{{assets}}assets/img//monitor-mob.svg,                        
                    >959:/{{assets}}assets/img//monitor.svg" />
            </div>
        </div>
    </div>
</section>